// Computers & Smaller
@media (max-width: 1400px) {
  .container {
    max-width: 990px;

    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 4rem;
    }

    h3 {
      font-size: 1.6rem;
    }
  }
  
  #navbar {
    #logo {
      width: 60px;
    }

    .navbar-link {
      ul {
        li {
          padding: 1rem;

          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  #home-1 {
    height: 130vh;

    h1 {
      font-size: 8rem;

      span {
        font-size: 10rem;
      }
    }
  }

  #home-2 {
    .content {
      p {
        font-size: 1.6rem;
      }
    }
  }

  #om-2 {
    .content {
      .person {
        padding: 1rem 2rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .none {
    display: block;
  }

  .container {
    padding: 1rem;
  }

  #navbar {
    .navbar-link {
      .menu-wrap {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 50;

        .menu {
          position: fixed;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          visibility: hidden;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          > div {
            background: rgba(37, 44, 91, 0.9);
            width: 200vw;
            height: 200vh;
            border-radius: 50%;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 0.4s ease;

            > div {
              text-align: center;
              max-width: 90vw;
              max-height: 100vh;
              opacity: 0;
              transition: opacity 0.4s ease;

              ul {
                display: flex;
                flex-direction: column;

                li {
                  font-size: 2rem;

                  ul {
                    display: flex;
                    flex-direction: row;

                    li {
                      padding-bottom: 0;
                      margin-bottom: 0;

                      a {
                        font-size: 1.2rem;
                      }
                    }
                  }
                }
              }

              a {
                color: #ffda3f;
                font-size: 1.5rem;
              }
            }
          }
        }

        .toggler {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 100;
          cursor: pointer;
          width: 70px;
          height: 70px;
          opacity: 0;

          &:checked + .hamburger > div {
            transform: rotate(135deg);
          }

          &:checked + .hamburger > div::before,
          &:checked + .hamburger > div::after {
            top: 0;
            transform: rotate(90deg);
          }

          &:checked ~ .menu {
            visibility: visible;
          }

          &:checked ~ .menu > div {
            transform: scale(1);
            transition: 0.5s;
          }

          &:checked ~ .menu > div > div {
            opacity: 1;
            transition: opacity 0.5s ease 0.3s;
          }
        }

        .hamburger {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 49;
          width: 40px;
          height: 40px;
          padding: 1rem;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;

          div {
            position: relative;
            flex: none;
            width: 100%;
            height: 2px;
            background: #000;
            align-items: center;
            justify-content: center;
            display: flex;
            transition: all 0.2s ease;

            &::before,
            &::after {
              content: "";
              position: absolute;
              z-index: 49;
              top: -10px;
              width: 100%;
              height: 2px;
              background: inherit;
            }

            &::after {
              top: 10px;
            }
          }
        }
      }
    }

    .navbar-social {
      margin-right: 40%;

      ul li {
        margin: 0 20%;
      }
    }
  }

  // Resten av koden
  .container {
    max-width: 750px;

    h1 {
      font-size: 3.6rem;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1.6rem;
    }

    h4 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  #home-1 {
    height: 100vh;

    h1 {
      font-size: 6rem;

      span {
        font-size: 8rem;
      }
    }
  }

  #home-4,
  #home-5 {
    .content img {
      width: 250px;
      padding: 0.6rem;
    }
  }

  #home-7 {
    h3 {
      font-size: 2rem;
    }

    .footer {
      flex-direction: column;

      ul {
        display: none;
      }
    }
  }

  #om-2 {
    .content {
      grid-template-columns: 1fr 1fr;
    }

    .footer {
      padding-bottom: 2rem;
    }
  }

  #arkivet-2 {
    .content {
      .avsnitt img {
        width: 250px;
        padding: 0.6rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 580px;
  }

  iframe {
    width: 400px;
    height: 225px;
  }

  #home-1 {
    height: 80vh;

    h1 {
      font-size: 5rem;

      span {
        font-size: 6rem;
      }
    }
  }

  #home-4,
  #home-5 {
    .content {
      flex-direction: column;
      padding: 2rem 0;
      text-align: center;

      img {
        margin-bottom: 1rem;
      }

      .vl {
        display: none;
      }
    }
  }

  #home-5 {
    .content {
      flex-direction: column-reverse;
    }
  }

  #forestallningar-1,
  #om-1,
  #arkivet-1,
  #kontakt-1,
  #biljetter-1 {
    height: 60vh;

    h1 {
      margin-top: 32vh;
    }
  }

  #saga-1 {
    .content img {
      width: 300px;
    }
  }

  #klackarna-3 {
    .container {
      h2 {
        font-size: 2rem;
      }

      .gallery {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 400px;

    h1 {
      font-size: 2.6rem;
    }

    h2 {
      font-size: 2.4rem;
    }

    h3 {
      font-size: 1.6rem;
    }

    h4 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
  .btn {
    display: inline-block;
    padding: 0.8rem 2rem 0.8rem 2rem;
    color: $yellow;
    background: $pink;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: all 0.5s;
    border-radius: 1rem;
    margin: 2rem 0 2rem 0;

    &:hover {
      background: $blue;
    }
  }

  #home-1 {
    height: 60vh;

    h1 {
      font-size: 3.2rem;

      span {
        font-size: 5rem;
      }
    }
  }

  #home-2 {
    .content p {
      font-size: 1rem;
    }
  }

  #home-6 {
    .avsnitt {
      h3 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }

  #home-7 {
    h3 {
      font-size: 1.6rem;
    }
  }

  #forestallningar-1,
  #om-1,
  #arkivet-1,
  #kontakt-1,
  #biljetter-1,
  #klackarna-1,
  #vemvet-1 {
    height: 50vh;

    h1 {
      margin-top: 25vh;
    }
  }

  #om-2 {
    .content {
      grid-template-columns: 1fr;
    }
  }

  #saga-1 {
    .content img {
      width: 200px;
      padding: 0.6rem;
      margin-bottom: 1rem;
    }
  }

  #klackarna-3 {
    .container {
      h2 {
        font-size: 1.6rem;
      }

      .gallery {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 320px;

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.8rem;
    }

    h3 {
      font-size: 1.4rem;
    }

    h4 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1.1rem;
    }
  }

  #navbar {
    .navbar-social {
      ul li {
        padding: 5px;
        margin: 0 1.2rem;

        i {
          font-size: 2rem;
        }
      }
    }
  }

  #home-1 {
    height: 50vh;

    h1 {
      font-size: 2.6rem;

      span {
        font-size: 4rem;
      }
    }
  }

  #om-2 {
    p {
      font-size: 1.2rem;
    }

    .top {
      padding: 1rem;
    }
  }
}

// När telefonen ligger ner
@media (max-height: 600px) {
  #navbar {
    .navbar-link {
      .menu-wrap {
        .menu {
          ul {
            li {
              padding: 0rem;
              a {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  #home-1 {
    height: 150vh;
  }

  #forestallningar-1,
  #om-1,
  #arkivet-1,
  #kontakt-1,
  #biljetter-1,
  #klackarna-1,
  #vemvet-1 {
    height: 80vh;

    h1 {
      margin-top: 25vh;
    }
  }
}
