.container {
  max-width: 1400px;
  padding: 1.5rem;
  margin: auto;
  overflow: hidden;
}

.vl {
  border-left: 6px solid #ffda3f;
  height: 500px;
}

.hl {
  border-top: 3px solid #1b265f;
  width: 500px;
  margin: 1rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 2rem 0.8rem 2rem;
  color: $yellow;
  background: $pink;
  font-size: 2rem;
  text-transform: uppercase;
  transition: all 0.5s;
  border-radius: 1rem;
  margin: 2rem 0 2rem 0;

  &:hover {
    background: $blue;
  }
}

@font-face {
  font-family: "Genty Demo";
  src: url("../fonts/GentyDemo-Regular.woff2") format(woff2),
    url("../fonts/GentyDemo-Regular.woff") format(woff),
    url("../fonts/GentyDemo-Regular.ttf") format(ttf);
}
