// Variables
$website-width: 1440px;

// Colors
$yellow-color: #ffda3f;
$pink-color: #d15484;
$blue-color: #252c5b;
$white-color: #fff;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$opacity-color: rgba(37, 44, 91, 0.9);

$head-font: "Josefin Sans", sans-serif;
$headfont-size: 6rem;

$menu-speed: 0.5s;
