@import "variables";
@import "utilities";

// General Styles
* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Josefin Slab", serif;
  line-height: 1.6;
  background: $white-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
#navbar {
  background: $white-color;
  color: $dark-color;
  position: sticky;
  z-index: 10;
  top: 0;
  transition: 0.5s;

  .navbar {
    &-content {
      width: calc(100% - 10px);
      display: flex;
      align-items: center;
      justify-content: space-between;

      // Logo
      #logo {
        width: 80px;
        transition: 0.5s;
        padding: 5px;
      }
    }

    &-link {
      ul {
        display: flex;
      }

      li {
        padding: 1rem 2rem;
        display: inline-block;

        // Nested UL
        ul {
          display: none;
        }
      }

      a {
        text-transform: uppercase;
        font-family: $head-font;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.2s;
        font-size: 1.2rem;

        &:hover {
          border-color: $pink-color;
        }

        &.current {
          border-color: $pink-color;
        }
      }
    }

    &-social {
      ul {
        display: flex;
      }

      li {
        padding: 10px;
      }

      i {
        color: $dark-color;
        transition: color 0.2s;

        &:hover {
          color: $pink-color;
        }
      }
    }
  }
}

// Home
#home {
  // Home 1: Teater Jubel
  &-1 {
    background: url(../img/banner.jpg) no-repeat center center / cover;
    height: 70vh;

    * {
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 70vh;
      background: rgba(132, 108, 9, 0.5);
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 70vh;
      color: #fff;

      p {
        font-size: 2rem;
      }

      h1 {
        font-family: $head-font;
        font-size: 11rem;
        text-transform: uppercase;
      }
    }
  }

  // Home 2: Pitch
  &-2 {
    background: $blue-color;
    color: $yellow-color;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 2rem 0;

      a {
        font-family: $head-font;
        color: $yellow-color;
        transition: font-size 0.5s;

        &:hover {
          font-size: 3.4rem;
        }
      }

      p {
        font-size: 3rem;
        line-height: 6rem;
      }
    }
  }

  // Home 3: Föreställningar
  &-3 {
    background: $yellow-color;
    color: #000;
    width: 100%;
    padding: 2rem 0;

    #forestallningar {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    h1 {
      font-size: $headfont-size;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 0;
    }
  }

  // Home 4: Klackarna
  &-4 {
    width: 100%;
    background: $blue-color;

    #klackarna {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 2rem;

      img {
        padding: 1rem;
        width: 380px;
        background: #fff;
        transition: width 0.5s;

        &:hover {
          width: 400px;
        }
      }

      .vl {
        margin-left: 2rem;
      }

      .content {
        padding: 2rem;

        h1 {
          font-size: 5rem;
          font-family: $head-font;
          color: $yellow-color;
          line-height: 1;
        }

        h3 {
          font-size: 2rem;
          font-family: $head-font;
          color: $yellow-color;
          padding-bottom: 1rem;
        }

        p {
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }
  }

  // Home 5: En Saga
  &-5 {
    width: 100%;
    background: $pink-color;

    #saga {
      margin: 2rem 0;
      display: flex;
      padding-top: 2rem;
      align-items: center;
      justify-content: center;

      .content {
        padding: 2rem;
        text-align: right;

        h1 {
          font-size: 5rem;
          font-family: $head-font;
          color: $yellow-color;
          line-height: 1;
        }

        h3 {
          font-size: 2rem;
          font-family: $head-font;
          color: $yellow-color;
          padding-bottom: 1rem;
        }

        p {
          color: #fff;
          font-size: 1.5rem;
        }
      }

      .vl {
        margin-right: 2rem;
      }
      img {
        padding: 1rem;
        width: 380px;
        background: #fff;
        transition: width 0.5s;

        &:hover {
          width: 400px;
        }
      }
    }
  }

  // Home 6: Biljetter
  &-6 {
    width: 100%;
    background: $yellow-color;

    #biljetter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 2rem;
      line-height: 2;

      h2 {
        color: $pink-color;
        padding-bottom: 1rem;
      }

      p {
        font-size: 2rem;

        a,
        span {
          font-family: $head-font;
          color: #000;
        }
      }
    }
  }

  // Home 7: Om Oss
  &-7 {
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $blue-color;
    color: $white-color;
    line-height: 2;

    h1 {
      color: $white-color;
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-top: 2rem;

      .person {
        padding: 1rem 4rem;

        h3 {
          font-family: $head-font;
          font-size: 1.5rem;
        }
      }
    }
  }

  // Home 8: Kontakt
  &-8 {
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $yellow-color;

    .mejl {
      font-family: $head-font;
      padding: 5rem;
      font-size: 4rem;

      a {
        color: $pink-color;
        transition: color 0.2s;

        &:hover {
          color: $blue-color;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;

      .adress {
        padding: 2rem;
        a {
          font-size: 4rem;
          color: $blue-color;
          transition: color 0.2s;

          &:hover {
            color: $pink-color;
          }
        }
      }

      .social {
        ul {
          display: flex;
          padding-right: 2rem;
        }

        li {
          padding: 2rem;
        }

        i {
          color: $blue-color;
          transition: color 0.2s;

          &:hover {
            color: $pink-color;
          }
        }
      }
    }
  }
}

// Klackarna i Taket
#klackarna {
  // Klackarna 1
  &-1 {
    background: $blue-color;
    color: $white-color;

    .top {
      color: $yellow-color;
      font-family: $head-font;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 1rem;
      h1 {
        font-size: 5rem;
        line-height: 1;
      }
      h3 {
        font-size: 2rem;
      }
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      line-height: 2;
      font-size: 1.2rem;

      .text {
        text-align: right;
        padding: 2rem;
        width: 500px;
      }

      .info {
        padding: 0.5rem;
        background-color: $yellow-color;
        color: $blue-color;
        font-family: $head-font;
        font-size: 1.4rem;
        width: 500px;
      }
    }
  }

  // Klackarna 2: Bilder ur Föreställningen
  &-2 {
    background: $blue-color;

    .top {
      color: $yellow-color;
      font-family: $head-font;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 2rem;
      position: relative;
      h1 {
        font-size: 5rem;
      }
    }

    .bilder {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 2rem 0 4rem 0;

      .bild {
        margin: 2rem;
      }
    }
  }
}

// Saga
#saga {
  // Saga 1
  &-1 {
    background: $pink-color;
    color: $white-color;

    .top {
      color: $yellow-color;
      font-family: $head-font;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 1rem;
      h1 {
        font-size: 5rem;
        line-height: 1;
      }
      h3 {
        font-size: 2rem;
      }
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      line-height: 2;
      font-size: 1.2rem;

      .text {
        text-align: right;
        padding: 2rem;
        width: 500px;
      }

      .info {
        padding: 0.5rem;
        background-color: $yellow-color;
        color: $pink-color;
        font-family: $head-font;
        font-size: 1.4rem;
        width: 500px;
      }
    }
  }
}

// Import Media Queries
@import "media";
