@import "variables";
@import "utilities";

// General Styles
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", serif;
  line-height: 1.6;
  background: #fff;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  color: #ffda3f;
  font-size: 8rem;
}

h2 {
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1.4;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.4rem;
}

iframe {
  width: 800px;
  height: 450px;
  padding: 8px;
  background-color: $yellow;
  border: none;
}

// Navbar
#navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  transition: 0.5s;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background: #fff;

  #logo {
    width: 80px;
    transition: 0.5s;
    padding: 5px;
  }

  .navbar {
    &-content {
      width: calc(100%-10px);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-link {
      .toggler {
        display: none;
      }

      ul {
        display: flex;

        li {
          padding: 1rem 2rem;
          display: inline-block;

          a {
            text-transform: uppercase;
            border-bottom: 3px transparent solid;
            padding-bottom: 0.2rem;
            transition: border-color 0.2s;
            font-size: 1.4rem;

            &.current {
              border-color: $pink;
            }

            &:hover {
              border-color: $pink;
            }
          }
        }
      }
    }

    &-social {
      ul {
        display: flex;

        li {
          padding: 15px;

          i {
            color: $black;
            transition: color 0.2s;

            &:hover {
              color: $pink;
            }
          }
        }
      }
    }
  }
}

#home {
  // Banner
  &-1 {
    background: url("../img/Banner.jpg") no-repeat center center/cover;
    height: 150vh;
    color: $yellow;
    line-height: 1.2;

    .content {
      display: flex;
      justify-content: center;
    }

    h1 {
      font-size: 12rem;

      span {
        font-family: "Genty Demo", "Josefin Sans", serif;
        font-size: 18rem;
      }
    }
  }

  // Pitch
  &-2 {
    background-color: $light-blue;
    color: $yellow;
    padding-bottom: 1rem;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 2.2rem;
      }

      a {
        font-weight: 700;
        color: $yellow;
      }
    }
  }

  // Föreställningar
  &-3 {
    background: $yellow;
  }

  // Vem vet?
  &-4 {
    background: $blue;

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4rem 0;
      color: $yellow;
      text-align: left;

      img {
        padding: 1rem;
        background: $white;
        width: 380px;
        transition: 0.5s;

        &:hover {
          width: 400px;
        }
      }

      .vl {
        margin: 2rem;
      }

      a {
        color: $yellow;
        font-weight: 400;
      }
    }
  }

  // En Saga om... vadå?
  &-5 {
    background: $pink;

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4rem 0;
      color: $yellow;
      text-align: right;

      img {
        padding: 1rem;
        background: $white;
        width: 380px;
        transition: 0.5s;

        &:hover {
          width: 400px;
        }
      }

      .vl {
        margin: 2rem;
      }

      a {
        color: $yellow;
        font-weight: 400;
      }
    }
  }

  // Biljetter
  &-6 {
    background: $yellow;
    padding: 2rem 0;

    .top {
      padding-bottom: 1rem;

      h4 {
        color: $pink;
      }

      p .small {
        font-size: 10px;
      }
    }

    .avsnitt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h3 {
        color: $blue;
        font-size: 3rem;
      }

      p {
        font-size: 2rem;
      }
    }
  }

  // Kontakt
  &-7 {
    background: $blue;
    color: $white;
    padding-top: 2rem;

    a {
      color: $white;
    }

    h3 {
      font-size: 4rem;
    }

    .top {
      padding-bottom: 2rem;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      padding-top: 2rem;

      .adress {
        h3 {
          font-weight: 300;
        }
      }

      ul {
        display: flex;

        li {
          padding: 0 2rem;
        }
      }
    }
  }
}

#forestallningar {
  &-1 {
    background: url("../img/Forestallningar.jpg") no-repeat center center/cover;
    height: 80vh;
    color: $yellow;

    h1 {
      margin-top: 54vh;
      line-height: 1;
    }

    h3 {
      font-weight: 400;
    }
  }
}

#biljetter {
  &-1 {
    background: url("../img/Biljetter.jpg") no-repeat center center/cover;
    height: 80vh;
    color: $yellow;

    h1 {
      margin-top: 54vh;
      line-height: 1;
    }

    h3 {
      font-weight: 400;
    }
  }
}

#om {
  &-1 {
    background: url("../img/om.jpg") no-repeat center center/cover;
    height: 80vh;
    color: $yellow;

    h1 {
      margin-top: 54vh;
      line-height: 1;
    }

    h3 {
      font-weight: 400;
    }
  }

  &-2 {
    color: $blue;
    background: $yellow;

    p {
      font-size: 1.5rem;
    }

    a {
      color: $blue;
    }

    .top {
      padding: 2rem;
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .content .person {
      padding: 1rem 4rem;

      h3 {
        font-size: 1.8rem;
      }
    }

    .footer {
      padding: 2rem 0 4rem 0;
    }
  }
}

#arkivet {
  &-1 {
    background: url("../img/Arkivet.jpg") no-repeat center center/cover;
    height: 80vh;
    color: $yellow;

    h1 {
      margin-top: 54vh;
      line-height: 1;
    }

    h3 {
      font-weight: 400;
    }
  }

  &-2 {
    background: $yellow;

    .content {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        justify-content: center;
      
      .avsnitt {
        padding: 2rem;

        img {
          width: 300px;
          padding: 1rem;
          background: $white;
          transition: 0.5s;

          &:hover {
            width: 320px;
          }
        }
      }
    }
  }
}

#kontakt {
  &-1 {
    background: url("../img/Kontakt.jpg") no-repeat center center/cover;
    height: 80vh;
    color: $yellow;

    h1 {
      margin-top: 54vh;
      line-height: 1;
    }

    h3 {
      font-weight: 400;
    }
  }
}

#saga {
  &-1 {
    background: $pink;
    color: $yellow;

    .content {
      padding: 4rem;

      h1 {
        line-height: 1.2;
      }

      img {
        width: 500px;
        padding: 1rem;
        background: $white;
        margin-bottom: 2rem;
      }
    }
  }
}

#vemvet {
  &-1 {
    background: url("../img/VemvetBanner.jpg") no-repeat center center/cover;
    height: 80vh;
    color: $yellow;

    h1 {
      margin-top: 54vh;
      line-height: 1;
    }

    h3 {
      font-weight: 400;
    }
  }

  &-2 {
    background: $blue;
    color: $yellow;

    .text {
      padding: 1rem;
    }

    img {
      width: 300px;
      padding: 1rem;
      background: $white;
    }
  }

  &-3 {
    background: $blue;
    color: $yellow;
  }

  &-4 {
    background: $blue;
    color: $yellow;

    .text {
      padding: 1rem;
    }
  }
}

// Nästa Stora Grej
#nastastoragrej {
  &-1 {
    background: url("../img/nastastoragrejBanner.jpg") no-repeat center center/cover;
    height: 80vh;
    color: $yellow;

    h1 {
      margin-top: 54vh;
      line-height: 1;
    }
    
    h3 {
      font-weight: 400;
    }
  }

  &-2 {
    background: $pink;
    color: $yellow;

    .text {
      padding: 1rem;
    }

    a {
      color: $yellow;
    }

    img {
      width: 300px;
      padding: 1rem;
      background: $white;
    }
  }

  &-3 {
    background: $pink;
    color: $yellow;

    h2 {
      font-size: 4rem;
    }

    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }

  &-4 {
    background: $pink;
    color: $yellow;
  }

  &-5 {
    background: $pink;
    color: $yellow;

    .text {
      padding: 1rem;
    }
  }
}

#klackarna {
  &-1 {
    background: url("../img/KlackarnaBanner.jpg") no-repeat center center/cover;
    height: 80vh;
    color: $yellow;

    h1 {
      margin-top: 54vh;
      line-height: 1;
    }

    h3 {
      font-weight: 400;
    }
  }

  &-2 {
    background: $blue;
    color: $yellow;

    .text {
      padding: 1rem;
    }

    img {
      width: 300px;
      padding: 1rem;
      background: $white;
    }
  }

  &-3 {
    background: $blue;
    color: $yellow;

    h2 {
      font-size: 4rem;
    }

    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }
}

// Sketcher på index-sidan
#sketcher {
  background: $blue;
  color: $yellow;
  
  .content {
    padding: 4rem 0 ;

    iframe {
      width: 360px;
      height: 640px;
    }

    a {
      color: $yellow;
      h4 {
        color: $white;
      }
    }
  }
}

#sketcher {
  &-1 {
    background: $blue;
    color: $yellow;
    padding: 2rem 0;

    h3 {
      color: $white;
    }
  }

  &-2 {
    background: $blue;
    color: $yellow;

    iframe {
      width: 360px;
      height: 640px;
    }
  }

    &-3 {
    background: $blue;
    color: $white;

    a {
      color: $yellow
    }

    span {
      font-weight: bold;
      color: $yellow;
    }
  }

  &-4 {
    background: $blue;
    color: $yellow;

    h4 {
      color: $white;
    }

    iframe {
      width: 360px;
      height: 640px;
    }

    .avsnitt {
      padding-bottom: 4rem;
    }
  }

  &-5 {
    background: $blue;
    color: $yellow;

    p {
      color: $white;
    }
      
    .rubrik {
      padding-bottom: 2rem;
    }

    .delar {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      justify-content: center;

      padding-bottom: 4rem;
    }
  }
}


// Import Media Queries
@import "media";
